/* Create Service Request Modal Styles */

.modal-dialog {
    max-width: 550px;
}

.success-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #28a745;
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* Fix for form stricture breaking flex layout */
.modal-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow: hidden;
}